In [1]:
import numpy as np
import pandas as pd

In [2]:
tables = pd.read_html('https://en.wikipedia.org/wiki/World_population')

In [3]:
len(tables)

26

In [7]:
tables[4]

,Rank,Country,Population,% of world,Date,Source(official or UN)
0,1,China,1413500960,NaN,1 Jun 2022,National population clock[92]
1,2,India,1410130300,NaN,1 Jun 2022,National population clock[93]
2,3,United States,332712933,NaN,1 Jun 2022,National population clock[94]
3,4,Indonesia,269603400,NaN,1 Jul 2020,National annual projection[95]
4,5,Pakistan,220892331,NaN,1 Jul 2020,UN Projection[96]
5,6,Brazil,214704204,NaN,1 Jun 2022,National population clock[97]
6,7,Nigeria,206139587,NaN,1 Jul 2020,UN Projection[96]
7,8,Bangladesh,172816460,NaN,1 Jun 2022,National population clock[98]
8,9,Russia,146748590,NaN,1 Jan 2020,National annual estimate[99]
9,10,Mexico,127792286,NaN,1 Jul 2020,National annual projection[100]